# The Final Push
## California Data Analyst Position Salary Prediction ETL Process

- Team Members: Roma, Paola, Rabia, Oliver 
- Source1: https://www.kaggle.com/andrewmvd/data-analyst-jobs
- Source2: www.indeed.com

In [ ]:
import pandas as pd

#### Data Cleaning

In [163]:
df = pd.read_csv("DataAnalyst.csv")

In [164]:
df["Location"].unique()

array(['New York, NY', 'Fairfield, NJ', 'Jersey City, NJ', 'Brooklyn, NY',
       'Weehawken, NJ', 'Long Island City, NY', 'Florham Park, NJ',
       'Manhasset, NY', 'Newark, NJ', 'Queens Village, NY', 'Haworth, NJ',
       'Fort Lee, NJ', 'South Plainfield, NJ', 'Bronx, NY',
       'Little Ferry, NJ', 'Lake Success, NY', 'Summit, NJ',
       'Valley Stream, NY', 'Berkeley Heights, NJ', 'Essex Fells, NJ',
       'Franklin Lakes, NJ', 'Mount Vernon, NY', 'Secaucus, NJ',
       'West Orange, NJ', 'Far Rockaway, NY', 'Woodbridge, NJ',
       'Parsippany, NJ', 'Whippany, NJ', 'Great Neck, NY', 'Hoboken, NJ',
       'Staten Island, NY', 'Harrison, NY', 'Iselin, NJ', 'Montvale, NJ',
       'Woodcliff Lake, NJ', 'Salt Lake City, UT', 'West Jordan, UT',
       'Lehi, UT', 'Draper, UT', 'American Fork, UT', 'Sandy, UT',
       'Riverton, UT', 'Reedley, CA', 'Visalia, CA', 'Hanford, CA',
       'Hampton, VA', 'Norfolk, VA', 'Portsmouth, VA', 'Chesapeake, VA',
       'Smithfield, VA', 'Suffolk, VA', 'Newport News, VA',
       'Virginia Beach, VA', 'Yorktown, VA', 'Fort Eustis, VA',
       'Gainesville, FL', 'Alachua, FL', 'El Segundo, CA',
       'Santa Monica, CA', 'Los Angeles, CA', 'Hermosa Beach, CA',
       'Gardena, CA', 'Burbank, CA', 'Culver City, CA', 'Glendale, CA',
       'Inglewood, CA', 'Venice, CA', 'Pasadena, CA', 'Cerritos, CA',
       'Carson, CA', 'Irwindale, CA', 'Anaheim, CA', 'Beverly Hills, CA',
       'Long Beach, CA', 'Northridge, CA', 'Alhambra, CA', 'Brea, CA',
       'Duarte, CA', 'Woodland Hills, CA', 'Monterey Park, CA',
       'Marina del Rey, CA', 'Arcadia, CA', 'Torrance, CA',
       'Panorama City, CA', 'Signal Hill, CA', 'Azusa, CA',
       'City of Industry, CA', 'Pico Rivera, CA', 'Whittier, CA',
       'San Fernando, CA', 'Chicago, IL', 'Downers Grove, IL',
       'Broadview, IL', 'Woodridge, IL', 'Burr Ridge, IL',
       'Rolling Meadows, IL', 'Deerfield, IL', 'Northlake, IL',
       'Northbrook, IL', 'Des Plaines, IL', 'Itasca, IL', 'Evanston, IL',
       'Bridgeview, IL', 'Oak Brook, IL', 'Maywood, IL', 'Northfield, IL',
       'Glenview, IL', 'Elk Grove Village, IL', 'Arlington Heights, IL',
       'Houston, TX', 'Stafford, TX', 'Pearland, TX', 'Sugar Land, TX',
       'Pasadena, TX', 'Spring, TX', 'Tempe, AZ', 'Phoenix, AZ',
       'Scottsdale, AZ', 'Glendale, AZ', 'Chandler, AZ', 'Mesa, AZ',
       'DC Ranch, AZ', 'King of Prussia, PA', 'Plymouth Meeting, PA',
       'Blue Bell, PA', 'Fort Washington, PA', 'Philadelphia, PA',
       'Wilmington, DE', 'Malvern, PA', 'Horsham, PA', 'Camden, NJ',
       'Feasterville Trevose, PA', 'Radnor, PA', 'West Conshohocken, PA',
       'Wayne, PA', 'Bensalem, PA', 'Exton, PA', 'Doylestown, PA',
       'Allegheny West, PA', 'Paoli, PA', 'Chester Township, PA',
       'Conshohocken, PA', 'West Chester, PA', 'Mount Laurel, NJ',
       'Ridley Park, PA', 'Berwyn, PA', 'Newtown, PA',
       'Newtown Square, PA', 'Boothwyn, PA', 'Norristown, PA',
       'West Point, PA', 'Marlton, NJ', 'Moorestown, NJ',
       'San Antonio, TX', 'Lackland AFB, TX', 'Fort Sam Houston, TX',
       'San Diego, CA', 'National City, CA', 'El Cajon, CA', 'Plano, TX',
       'Allen, TX', 'Arlington, TX', 'Dallas, TX', 'Richardson, TX',
       'Irving, TX', 'Grapevine, TX', 'Lewisville, TX', 'Addison, TX',
       'Tarrant, TX', 'Carrollton, TX', 'Southlake, TX', 'Coppell, TX',
       'Farmers Branch, TX', 'Newark, CA', 'Santa Clara, CA',
       'Redwood City, CA', 'Cupertino, CA', 'Fremont, CA', 'San Jose, CA',
       'Menlo Park, CA', 'Palo Alto, CA', 'Mountain View, CA',
       'Sunnyvale, CA', 'Los Gatos, CA', 'Stanford, CA',
       'East Palo Alto, CA', 'Pleasanton, CA', 'Union City, CA',
       'Milpitas, CA', 'Campbell, CA', 'Austin, TX',
       'West Lake Hills, TX', 'Round Rock, TX', 'Cedar Park, TX',
       'Jacksonville, FL', 'Fort Worth, TX', 'Roanoke, TX',
       'Westlake, TX', 'Columbus, OH', 'Westerville, OH', 'Hilliard, OH',
       'Dublin, OH', 'Charlotte, NC', 'Mooresville, NC',
       'Huntersville, NC', 'Fort Mill, SC', 'Indian Trail, NC',
       'San Francisco, CA', 'San Rafael, CA', 'San Mateo, CA',
       'Oakland, CA', 'Berkeley, CA', 'Burlingame, CA', 'Foster City, CA',
       'Marin City, CA', 'Daly City, CA', 'South San Francisco, CA',
       'San Bruno, CA', 'Emeryville, CA', 'Novato, CA', 'Millbrae, CA',
       'San Ramon, CA', 'Hercules, CA', 'Alameda, CA', 'Walnut Creek, CA',
       'Carmel, IN', 'Indianapolis, IN', 'Whitestown, IN',
       'Jeffersonville, IN', 'Beech Grove, IN', 'Lawrence, IN',
       'Redmond, WA', 'Seattle, WA', 'Issaquah, WA', 'Kent, WA',
       'Bellevue, WA', 'Renton, WA', 'Kirkland, WA', 'Athens, GA',
       'Burlingame, KS', 'Topeka, KS', 'Denver, CO', 'Centennial, CO',
       'Boulder, CO', 'Greenwood Village, Arapahoe, CO', 'Henderson, CO',
       'Englewood, CO', 'Lakewood, CO', 'Lone Tree, CO', 'Louisville, CO',
       'Aurora, CO', 'Broomfield, CO', 'Littleton, CO'], dtype=object)

In [165]:
new = df["Location"].str.split(",", n = 1, expand = True)

In [166]:
df["City"] = new[0] 
df["State"] = new[1]

In [167]:
df_CA = df.loc[df["State"] == " CA"]

In [168]:
df_CA.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,City,State
454,454,Data Analyst,$47K-$81K (Glassdoor est.),Ref ID: 00310-0011482030Classification: Sales ...,3.5,Robert Half\n3.5,"Reedley, CA","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,Reedley,CA
455,455,"Data Analyst, District Office - Accountability...",$47K-$81K (Glassdoor est.),About the Employer\n\n\nNestled close to the m...,3.7,TCOE\n3.7,"Visalia, CA","Springville, CA",1 to 50 employees,-1,School / School District,Preschool & Child Care,Education,$1 to $5 million (USD),-1,-1,Visalia,CA
456,456,Data Analyst (Kings County),$47K-$81K (Glassdoor est.),The purpose of the Data Analyst in the Case In...,3.3,"Public Health Foundation Enterprises, In\n3.3","Hanford, CA","City of Industry, CA",1001 to 5000 employees,1968,Nonprofit Organization,Social Assistance,Non-Profit,$50 to $100 million (USD),-1,-1,Hanford,CA
513,513,Product Data Analyst,$55K-$103K (Glassdoor est.),The Product Strategy Group works to ensure the...,3.1,Stamps.com\n3.1,"El Segundo, CA","El Segundo, CA",1001 to 5000 employees,1996,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Pitney Bowes, US Postal Service, Envelope Mana...",-1,El Segundo,CA
514,514,Lead Data Analyst,$55K-$103K (Glassdoor est.),About the Lead Data Analyst at Headspace:\n\nH...,3.6,Headspace\n3.6,"Santa Monica, CA","Santa Monica, CA",201 to 500 employees,2010,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1,Santa Monica,CA

In [169]:
salary = df_CA["Salary Estimate"].str.split("-", n = 1, expand = True)

In [170]:
df_CA["SalaryEstimate_low"] = salary[0]
df_CA["SalaryEstimate_high"] = salary[1]
a = df_CA["SalaryEstimate_low"].str.split("K", n = 1, expand = True) 
b = df_CA["SalaryEstimate_high"].str.split("K", n = 1, expand = True) 
df_CA["SalaryEstimate_low"] = a[0]
df_CA["SalaryEstimate_high"] = b[0]
c = df_CA["SalaryEstimate_low"].str.split("$", n = 1, expand = True) 
d = df_CA["SalaryEstimate_high"].str.split("$", n = 1, expand = True) 
df_CA["SalaryEstimate_low"] = c[1]
df_CA["SalaryEstimate_high"] = d[1]
df_CA[["SalaryEstimate_low", "SalaryEstimate_high"]] = df_CA[["SalaryEstimate_low", "SalaryEstimate_high"]].apply(pd.to_numeric, errors='coerce')
df_CA[["SalaryEstimate_low","SalaryEstimate_high"]] = df_CA[["SalaryEstimate_low","SalaryEstimate_high"]]*1000

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [172]:
df_CA["Revenue"] = df_CA["Revenue"].str.split("billion", n = 1, expand = True) 
revenue = df_CA["Revenue"].str.split("to", n = 1, expand = True) 
df_CA["Revenue_low"] = revenue[0]
df_CA["Revenue_high"] = revenue[1]
x = df_CA["Revenue_high"].str.split(" ", n = 1, expand = True) 
df_CA["Revenue_high"] = x[1]
y = df_CA["Revenue_high"].str.split(" ", n = 1, expand = True)
df_CA["Revenue_high"] = y[0]
z = df_CA["Revenue_low"].str.split("$", n = 1, expand = True) 
t = df_CA["Revenue_high"].str.split("$", n = 1, expand = True) 
df_CA["Revenue_low"] = z[1]
df_CA["Revenue_high"] = t[1]
df_CA[["Revenue_low", "Revenue_high"]] = df_CA[["Revenue_low", "Revenue_high"]].apply(pd.to_numeric, errors='coerce')
df_CA[["Revenue_low","Revenue_high"]] = df_CA[["Revenue_low","Revenue_high"]]*1000000

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Rabia\Anaconda3\envs\PythonDataViz\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [173]:
df_CA.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,Easy Apply,City,State,SalaryEstimate_low,SalaryEstimate_high,Revenue_low,Revenue_high
454,454,Data Analyst,$47K-$81K (Glassdoor est.),Ref ID: 00310-0011482030Classification: Sales ...,3.5,Robert Half\n3.5,"Reedley, CA","Menlo Park, CA",10000+ employees,1948,...,Business Services,$2 to $5,"Adecco, Manpower",-1,Reedley,CA,47000,81000,2000000.0,5000000.0
455,455,"Data Analyst, District Office - Accountability...",$47K-$81K (Glassdoor est.),About the Employer\n\n\nNestled close to the m...,3.7,TCOE\n3.7,"Visalia, CA","Springville, CA",1 to 50 employees,-1,...,Education,$1 to $5 million (USD),-1,-1,Visalia,CA,47000,81000,1000000.0,5000000.0
456,456,Data Analyst (Kings County),$47K-$81K (Glassdoor est.),The purpose of the Data Analyst in the Case In...,3.3,"Public Health Foundation Enterprises, In\n3.3","Hanford, CA","City of Industry, CA",1001 to 5000 employees,1968,...,Non-Profit,$50 to $100 million (USD),-1,-1,Hanford,CA,47000,81000,50000000.0,100000000.0
513,513,Product Data Analyst,$55K-$103K (Glassdoor est.),The Product Strategy Group works to ensure the...,3.1,Stamps.com\n3.1,"El Segundo, CA","El Segundo, CA",1001 to 5000 employees,1996,...,Information Technology,$100 to $500 million (USD),"Pitney Bowes, US Postal Service, Envelope Mana...",-1,El Segundo,CA,55000,103000,100000000.0,500000000.0
514,514,Lead Data Analyst,$55K-$103K (Glassdoor est.),About the Lead Data Analyst at Headspace:\n\nH...,3.6,Headspace\n3.6,"Santa Monica, CA","Santa Monica, CA",201 to 500 employees,2010,...,Information Technology,Unknown / Non-Applicable,-1,-1,Santa Monica,CA,55000,103000,NaN,NaN

In [175]:
df_CA = df_CA.drop(columns=["Revenue","Salary Estimate"])

In [179]:
df_CA["Size"].unique()

array(['10000+ employees', '1 to 50 employees', '1001 to 5000 employees',
       '201 to 500 employees', '51 to 200 employees', '-1',
       '501 to 1000 employees', '5001 to 10000 employees', 'Unknown'],
      dtype=object)

In [180]:
df_CA

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Competitors,Easy Apply,City,State,SalaryEstimate_low,SalaryEstimate_high,Revenue_low,Revenue_high
454,454,Data Analyst,Ref ID: 00310-0011482030Classification: Sales ...,3.5,Robert Half\n3.5,"Reedley, CA","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,"Adecco, Manpower",-1,Reedley,CA,47000,81000,2000000.0,5000000.0
455,455,"Data Analyst, District Office - Accountability...",About the Employer\n\n\nNestled close to the m...,3.7,TCOE\n3.7,"Visalia, CA","Springville, CA",1 to 50 employees,-1,School / School District,Preschool & Child Care,Education,-1,-1,Visalia,CA,47000,81000,1000000.0,5000000.0
456,456,Data Analyst (Kings County),The purpose of the Data Analyst in the Case In...,3.3,"Public Health Foundation Enterprises, In\n3.3","Hanford, CA","City of Industry, CA",1001 to 5000 employees,1968,Nonprofit Organization,Social Assistance,Non-Profit,-1,-1,Hanford,CA,47000,81000,50000000.0,100000000.0
513,513,Product Data Analyst,The Product Strategy Group works to ensure the...,3.1,Stamps.com\n3.1,"El Segundo, CA","El Segundo, CA",1001 to 5000 employees,1996,Company - Public,Computer Hardware & Software,Information Technology,"Pitney Bowes, US Postal Service, Envelope Mana...",-1,El Segundo,CA,55000,103000,100000000.0,500000000.0
514,514,Lead Data Analyst,About the Lead Data Analyst at Headspace:\n\nH...,3.6,Headspace\n3.6,"Santa Monica, CA","Santa Monica, CA",201 to 500 employees,2010,Company - Private,Internet,Information Technology,-1,-1,Santa Monica,CA,55000,103000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,2068,Business Analyst II (Scientific Business Analy...,Scientific Business Analyst (PreClinical Data)...,4.6,Ascent\n4.6,"South San Francisco, CA","Concord, CA",1001 to 5000 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,-1,-1,South San Francisco,CA,47000,74000,100000000.0,500000000.0
2069,2069,Sr. Process Analyst - Data Privacy Project,Our client is a global leader in software serv...,4.6,The Ascent Services Group\n4.6,"San Rafael, CA","Concord, CA",1001 to 5000 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,-1,-1,San Rafael,CA,47000,74000,100000000.0,500000000.0
2070,2070,Data Analyst-IT II,Job Description\nBelow are the Job Details\nTi...,4.1,APN Software Services Inc.\n4.1,"Redwood City, CA","Newark, CA",51 to 200 employees,-1,Company - Private,Computer Hardware & Software,Information Technology,-1,-1,Redwood City,CA,47000,74000,25000000.0,50000000.0
2071,2071,Senior Financial Systems Analyst / Business In...,"At Franklin Templeton, we are dedicated to del...",-1.0,Franklin Resources,"San Mateo, CA","Worthington, OH",1 to 50 employees,-1,Nonprofit Organization,-1,-1,-1,-1,San Mateo,CA,47000,74000,NaN,NaN
2072,2072,Sr. Data Analysts (Banking Domain),Job Description:\n\no Demonstrated Experience ...,5.0,Concept Software & Services Inc\n5.0,"San Francisco, CA","Alpharetta, GA",1 to 50 employees,1998,Company - Private,Consulting,Business Services,-1,-1,San Francisco,CA,47000,74000,1000000.0,5000000.0

In [181]:
export_csv = df_CA.to_csv (r'C:\Users\rabia\Desktop\df_CA.csv', index = None, header=True)

In [202]:
df1 = pd.read_csv("indeed_job_dataset.csv")

In [203]:
df1

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [204]:
df1.columns

Index(['Unnamed: 0', 'Job_Title', 'Link', 'Queried_Salary', 'Job_Type',
       'Skill', 'No_of_Skills', 'Company', 'No_of_Reviews', 'No_of_Stars',
       'Date_Since_Posted', 'Description', 'Location', 'Company_Revenue',
       'Company_Employees', 'Company_Industry', 'python', 'sql',
       'machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java',
       'Others', 'CA', 'NY', 'VA', 'TX', 'MA', 'IL', 'WA', 'MD', 'DC', 'NC',
       'Other_states', 'Consulting and Business Services',
       'Internet and Software', 'Banks and Financial Services', 'Health Care',
       'Insurance', 'Other_industries'],
      dtype='object')

In [205]:
df1['Location'].unique()

array(['MO', 'TX', 'OR', 'DC', 'MD', 'NY', 'GA', 'ID', 'PA', 'FL', 'MA',
       'VA', 'NJ', 'LA', 'CA', 'MN', 'WA', 'NC', 'IL', 'CO', 'UT', 'OH',
       'USA', 'AR', 'ME', 'NV', 'CT', 'REMOTE', 'RI', 'TN', 'WI', 'SC',
       'MI', 'KY', 'AZ', 'NE', 'IN', 'NM', 'AL', 'KS', 'IA', 'DE', nan,
       'HI', 'NH', 'OK', 'VT', 'WV', 'SD', 'WY', 'MT', 'ND'], dtype=object)

In [206]:
indeed_CA = df1.loc[df1["Location"] == "CA"]

In [208]:
indeed_CA = indeed_CA.drop(columns=["Unnamed: 0","Link","Skill","Description","CA","NY","VA","TX","MA","IL","WA","MD","DC","NC","Other_states",'Consulting and Business Services',
       'Internet and Software', 'Banks and Financial Services', 'Health Care',
       'Insurance', 'Other_industries'])

In [217]:
indeed_CA[["Company_Revenue","Company_Employees","Company_Industry"]]

           Company_Revenue Company_Employees              Company_Industry
29        $1B to $5B (USD)  Less than 10,000                    Government
30       $5B to $10B (USD)           10,000+         Internet and Software
32    More than $10B (USD)           10,000+         Internet and Software
35                     NaN  Less than 10,000         Internet and Software
41        $1B to $5B (USD)  Less than 10,000         Internet and Software
...                    ...               ...                           ...
5705                   NaN  Less than 10,000  Human Resources and Staffing
5706   Less than $1B (USD)  Less than 10,000            Telecommunications
5707                   NaN               NaN  Human Resources and Staffing
5708                   NaN  Less than 10,000  Human Resources and Staffing
5711                   NaN               NaN  Human Resources and Staffing

[1395 rows x 3 columns]

In [218]:
export_csv = indeed_CA.to_csv (r'C:\Users\rabia\Desktop\indeed_CA.csv', index = None, header=True)